# Firebase service account
functions/serviceAccountKey.json
# GoogleService-Info
GoogleService-Info.plist
google-services.json
android/app/google-services.json
# Variáveis de ambiente
.env
# Configs sensíveis
config/google-places.ts
