# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Eclipse/Java IDE
.project
.classpath
.settings/
bin/

# VS Code Java
.vscode/
.factorypath

# Bundle artifacts
*.jsbundle
